@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-hex: #c0d7fb;
  --secondary-hex: #3e5dd2;
  --tertiary-hex: #6555e7;
  --quaternary-hex: #647494;
  --other-hex: #e7bb41;
}

/* use for dark mode:
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: white;
  background: linear-gradient(var(--primary-hex), var(--secondary-hex));
} */
